extends ../layout
block content
   h1= 'Distribution Center interface'
   p Here you can manage all orders, shipping centers, and stock.
   br
   h2= 'Summary'
   case shippingDay
      when 0: p Next shipping day is <b>Monday</b>
      when 1: p Next shipping day is <b>Thursday</b>
      default: p Next shipping day is unknown
   p Orders for next shipping day: <b>#{numberOfOrders}</b>
   br
   button.btn(onclick="checkStock()") Check Stock
   script.
      function checkStock() {
         window.location.href = '/center/stock'
      }
   button.btn(onclick = "orderStatus()") Order Status
   script.
      function orderStatus() {
         window.location.href = '/center/orders'
      }
   button.btn(onclick = "organise()") Organize Next Shipment Day
      script.
         function organise() {
            window.location.href = '/center/organise'
         }
