extends ../layout
block content
   h1= 'Farmers orders have been updated'
   br
   button(onclick='goBack()') Go Back
      script.
         function goBack() {
            window.history.back();
         }
