extends ../layout
block content
   h1= 'Get Orders'
   div
      form(action='/center/orders', method='POST')
         fieldset#all_orders
            legend Get all orders?
               label.checkbox.inline
               input#all_orders(type='checkbox', name='get_all_orders', value='true')
               | Get all orders

            br
         fieldset#shipping_day
            legend Choose Shipping day:
            select(name='shipping_day')
               option(value= Monday) Monday - #{Monday}
               option(value= Thursday) Thursday - #{Thursday}
               option(value='0') Both
         br
         fieldset#dist_centers
            legend Choose Distribution Centers:
            label.checkbox.inline
               input#dist_centers1(type='checkbox', name='dist_centers', value='tlv1')
               | TLV1
            label.checkbox.inline
               input#dist_centers2(type='checkbox', name='dist_centers', value='tlv2')
               | TLV2
            label.checkbox.inline
               input#dist_centers3(type='checkbox', name='dist_centers', value='goog')
               | Google Offices
            label.checkbox.inline
               input#dist_centers4(type='checkbox', name='dist_centers', value='int_haifa')
               | Intel Haifa
            label.checkbox.inline
               input#dist_centers5(type='checkbox', name='dist_centers', value='microsoft_hertz')
               | Microsoft Hertzeliya
         br
         br
         fieldset#orderdetails
            legend
            button.btn(type='submit') Get Orders
            button.btn(onclick = "allOrders()") Get All Orders
               script.
                  function allOrders() {
                     window.location.href = '/center/allOrders'
                  }

